<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.VideoCommentMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加视频评论记录 -->
	<insert id="addVideoComment" parameterType="videoComment">
		insert into t_videoComment(videoObj,content,userObj,commentTime) values 
		(#{videoObj.videoId},#{content},#{userObj.user_name},#{commentTime})
	</insert>

	<!-- 按照查询条件分页查询视频评论记录 -->
	<select id="queryVideoComment" resultMap="videoCommentMap" >
		select t_videoComment.* from t_videoComment,t_userInfo,t_video ${where} and t_videoComment.videoObj = t_video.videoId and t_videoComment.userObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="videoCommentMap" type="videoComment">
        <id property="commentId" column="commentId" />
        <association property="videoObj" column="videoObj" select="com.chengxusheji.mapper.VideoMapper.getVideo" />
        <association property="userObj" column="userObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有视频评论记录 -->
	<select id="queryVideoCommentList" resultMap="videoCommentMap" >
		select t_videoComment.* from t_videoComment,t_userInfo,t_video ${where} and t_videoComment.videoObj = t_video.videoId and t_videoComment.userObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的视频评论记录数 -->
	<select id="queryVideoCommentCount" resultType="int">
		select count(*) from t_videoComment,t_userInfo,t_video ${where} and t_videoComment.videoObj = t_video.videoId and t_videoComment.userObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个视频评论记录 -->
	<select id="getVideoComment" parameterType="int" resultMap="videoCommentMap">
		select * from t_videoComment where t_videoComment.commentId = #{commentId}
	</select>

	<!-- 更新视频评论记录 -->
	<update id="updateVideoComment" parameterType="videoComment">
		update t_videoComment set videoObj=#{videoObj.videoId},content=#{content},userObj=#{userObj.user_name},commentTime=#{commentTime} where commentId = #{commentId}
	</update>

	<!-- 删除视频评论记录 -->
	<delete id="deleteVideoComment" parameterType="int">
		delete from t_videoComment where commentId=#{commentId}
	</delete>

</mapper>
